/*h1{
color:rgb();
background-color: yellow !important;
border:1px soild black;
border-radius:10px;
}
#p1,#p2{
color:blue;
background-color: red;
border:1px dotted black;
border-radius:20px;
}
b,i{
	color:aqua;
background-color: purple;
border:1px dashed black;
border-radius:5px;
}*/
